*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




body{
margin: 0;
padding: 0;
background-color: #342F84;

}

header{
background-color:#141414;
width: 100%;
height: auto;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: nowrap;
align-items: center;
text-size-adjust: none;
-webkit-text-size-adjust: none;
border-bottom-left-radius: 6em;
border-bottom-right-radius: 6em;
margin-bottom: 4em;
padding-bottom: 2em;
padding-top: 2em;
}

#headerLink{
    text-align: left;
    padding-left: 8%;
}




#Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    color: white;
    font-family:Reem Kufi;
    font-style: Regular;
}

h1{
    color: white;
    font-family:Reem Kufi;
    font-style: Regular;
    font-size: 3em;

}

#Links h1{
    font-size: 3em;
    text-decoration: none;
    justify-content: left;


}

#Links{
    color: white;
    text-decoration: none;
}




#Links h2{
    font-size: 2em;
}
#NavLink{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#image{
    align-content: center;
    width: 20%;
    text-align: center;
}



#image img{
    flex-grow: 1;
    width: 50%;
    align-content: center;
    max-width: 100%;
    height:auto;
    border: 4px solid #6c63ff ;
    border-radius: 9px;
    transition:  transform .5s ease-in-out;
}
#image img:hover{
    transform:rotate(1deg);

}


.space{
    height: 3em;
}


section{
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-wrap: wrap;
    font-family:Reem Kufi;
    font-style: Regular;
    font-size: 2em;

    }



    #Display{
        display: flex;
        flex-direction: column;
        align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: left;
    color:white;
    }

    #TradingRegions{
        width:800px; 
        height:500px;
    }

    #Description{
        padding-left: 3em;
        padding-right: 3em;
        margin-bottom: 3em;
    }


    #LineGraph{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 3em;
    }
    #LineGraph canvas{
        background-color: white;
        max-width:600px;
        max-height: auto;
        margin-left: 3em; 
               
    }


        
    .Itemi{
        height: auto;
        vertical-align: middle;
        margin: 2.5%;
        border-radius: 10px;
        padding: 1em;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

.Item{
    background-color: rgba(196, 196, 196, 0.5);
    height: 70%;
    width: 30%;
    vertical-align: middle;
    margin: 2.5%;
    border-radius: 10px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ItemWide{
    background-color: rgba(196, 196, 196, 0.5);
    height: auto;
    width: 70%;
    vertical-align: middle;
    margin: 2.5%;
    border-radius: 10px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.Item svg{
    width: 100%;
    height: 100%;
}



.Item #Candle{
    opacity: 0;
    transform-origin: bottom right;
    animation-name: growDown;
    animation-duration: 2s;
}


.Item:hover #Candle{
    animation-name: growUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes growUp{
    from{
        /*transform:scaleY(0.0);*/
        opacity: 0;
    }
    to{
        opacity: 100;
        /*transform:scaleY(1.0);*/
    }
}

@keyframes growDown{
  from{
      /*transform:scaleY(1.0);*/
      opacity: 100;
  }
    to{
        opacity: 0;
      /*transform:scaleY(0.0);*/
  }
}


#RegressionLine{
    stroke-dasharray: 0;
    transform:scale(0);
    transform-origin: bottom left;
}

#GraphLines #XLine{
    transform: scaleX(0);
}

#GraphLines #YLine{
    transform: scaleY(0);

}

#MountainLine{
    transform: scaleY(0);
}

#StayPoints path{ 
    fill:crimson;
}

#GoPoints path{
    
}

.Item:hover #GoPoints{
    animation-name: Disappear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.Item:hover #XLine{
    animation-name: GrowX;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.Item:hover #YLine{
    animation-name: GrowY;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.Item:hover #RegressionLine{
    animation-name: Grow;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.Item:hover #MountainLine{
    transform-origin: bottom;

    animation-name: GrowY;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes GrowX{
    from{
        transform: scaleX(0);
    }to{
        transform:scaleX(1);
    }
}


@keyframes GrowY{
    from{
        opacity: 0;
        transform: scaleY(0);
    }to{
        opacity: 1;
        transform:scaleY(1);
    }
}

@keyframes Grow{
    from{
        transform: scale(0);
    } to{
        transform: scale(1);
    }
}

@keyframes Disappear{
    0% {
        fill: #2790F1;
        opacity: 1;
    }50%{
        fill: crimson;
    }100%{
        opacity: 0;

    }
}



.Item #LineMarks{
    transform:scaleX(0);
    transform-origin: left;
    animation-name:flashBack;
    animation-duration: 2s;
}


.Item:hover #LineMarks{
    animation-name: flashTo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}




.circle:hover{
    animation:bop 1s forwards ;
}

@keyframes flashTo{
    from{
        transform:scaleX(0);
    }
    
    to{
        transform:scaleX(1);
    }
}

@keyframes flashBack{
    from{
        transform:scaleX(1);
    }
    
    to{
        transform:scaleX(0);
    }
}


@keyframes dashUp{
    from{
        stroke-dashoffset:0;
    }
    
    
    to{
        stroke-dashoffset:1000;
    }
}

@keyframes dashDown{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}


@keyframes bop{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform:translateY(0px)
    }
}

footer{
    height: 10%;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 5em;

}




header a{
    color:white;
    transition:1s;
}


header a:hover{
    color: greenyellow;
    transition: 1s;
}

.SocialMed path{
    fill:white;
    transition:2s;
}

.SocialMed:hover path{
    fill: greenyellow;
    transition: 2s;

}


#canvas{
    position: absolute;
    width:100%;
    height: 66%;
    background:linear-gradient(#25364f,#4d71a5,#9bc4ff);
}

